# Firebase Configuration
# Copy this file to .env.local and fill in your Firebase project credentials

NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyDrxvYaNq1TUAFOSPh3jCbPa25xgo5xSqE"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "salvo-e28a2.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "salvo-e28a2"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "salvo-e28a2.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "669266432865"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:669266432865:web:16624bdc02c989455d6b20"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-KR1Y0NDX42"